function copyCode(code) {
  navigator.clipboard.writeText(code);
  alert("Code copied: " + code);
}

function filterDeals(category) {
  const deals = document.querySelectorAll(".deal-card");

  deals.forEach(deal => {
    if (category === "all" || deal.dataset.category === category) {
      deal.style.display = "block";
    } else {
      deal.style.display = "none";
    }
  });
}

function setLanguage(lang) {
  if (lang === "ar") {
    document.documentElement.lang = "ar";
    document.body.dir = "rtl";
    document.getElementById("subtitle").innerText =
      "أفضل العروض و أكواد التخفيض في المغرب";
  } else {
    document.documentElement.lang = "en";
    document.body.dir = "ltr";
    document.getElementById("subtitle").innerText =
      "Best Deals & Promo Codes in Morocco";
  }
}
